.allimagescard {
  display: block;
  width: 100%;
  height: 400px;
  object-fit: cover;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.card__images {
  /* margin-top: 150px; */
  margin-top: 0px;
}

#mainNav {
  background-color: #abb7b7;
}
.overlay {
  /* position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: 100%;
  opacity: 1;
  transition: 1s ease; */
}

/* .crd:hover .overlay {
  opacity: 1;
} */

.crd {
  position: relative;
}

/* .container {
  position: relative;
} */
.content {
  color: white;
  /* font-size: 15px; */
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  text-shadow: 2px 2px 4px #000000;
}
.content > .info {
  display: inline-block;
  font-weight: 300;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: 1em;
  border: 1px solid #fff;
  color: white;
  text-shadow: none !important;
  /* background: transparent !important; */
}
.content > .info:hover {
  background-color: #fff;
  color: black;
}
h6 {
  font-size: small;
}

/* mobile nav 
/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

.about {
  font-family: "Baloo Tamma 2", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 900;
  line-height: 1.2;
  /* color: #104051; */
  color: #f1828d;
  text-align: center;
}
.text-500-left {
  text-align: left;
}
.text-500 {
  color: #949494 !important;
}
.media {
  /* background-color: white; */
  color: rgb(255, 255, 255);
  /* border: 2px solid #000000; */
  font-size: 25px;
  border-radius: 5px;
  text-decoration: none;
}
.media:hover {
  background-color: #2f5df5;
  color: rgb(255, 255, 255);
}
body {
  background-color: #f2f1ef !important ;
}
.text-300 {
  color: #e1e1e1 !important;
}
.Contactus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.allmedia {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.iconw {
  font-size: 25px;
  color: white;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  a > .logo {
    object-fit: cover;
    /* max-width: 100%; */
    width: 40%;
    /* display: none; */
  }
  .media {
    font-size: 20px;
  }
  .iconw {
    font-size: 20px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  a > .logo {
    object-fit: cover;
    /* max-width: 100%; */
    width: 40%;
    /* display: none; */
  }
}
@media only screen and (max-width: 992px) {
  a > .logo {
    object-fit: cover;
    /* max-width: 100%; */
    width: 25%;
    /* display: none; */
  }
}
