.allimagescard {
  display: block;
  width: 100%;
  height: 400px;
  object-fit: cover;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.card__images {
  /* margin-top: 150px; */
  margin-top: 0px;
}

#mainNav {
  background-color: #abb7b7;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: 100%;
  opacity: 0;
  transition: 1s ease;
}

.crd:hover .overlay {
  opacity: 1;
}

.crd {
  position: relative;
}

/* .container {
  position: relative;
} */
.content {
  color: white;
  /* font-size: 15px; */
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  text-shadow: 2px 2px 4px #000000;
}
.content > .info {
  display: inline-block;
  font-weight: 300;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: 1em;
  border: 1px solid #fff;
  color: white;
}
.content > .info:hover {
  background-color: #fff;
  color: black;
}
h6 {
  font-size: small;
}

/* mobile nav 
/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
/* .topnav #myLinks {
  display: none;
} */

/* Style navigation menu links */
/* .topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
} */

/* Style the hamburger menu */
/* .topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
} */

/* Add a grey background color on mouse-over */
/* .topnav a:hover {
  background-color: #ddd;
  color: black;
} */

/* Style the active link (or home/logo) */
/* .active {
  background-color: #04AA6D;
  color: white;
} */
/* .aboutUs {
  background-color: #abb7b7;
  font-size: 1rem;
  font-weight: bold;
} */
.about {
  font-family: "Baloo Tamma 2", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 900;
  line-height: 1.2;
  color: #104051;
  text-align: center;
}
.text-500-left {
  text-align: left;
}
.text-500 {
  color: #949494 !important;
}
.media {
  text-decoration: none;
  color: rgb(0, 0, 0);
  background-color: #abb7b7;
}
body {
  /* background-color: #000000 !important ; */
}
.contact{
  display: flex;
  align-items: center;
  justify-content: center;
}